body{
    margin: o;
    padding: 0;
    background-color: rgb(73, 163, 241);
    position: absolute;
    width: 40%;
    height: -10%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container{
    border-radius: 10px;
    padding: 8px 8px  ;
    box-sizing: border-box;
    color: #737373;
    border: 1px solid rgb(219, 219, 219);
    text-align: center;
    background: rgba(245, 22, 22, 0.911);
}

.content{
    background-color: black;
    color: white;
    padding: 3px;
    border-radius: 10px;
}

h1{
    text-align: center;
    font-size: 30px ;
    
}



.input_pseudo{
    position: relative;
    margin-bottom: 2px;
    margin-left: 50px;
}
.pseudo{
    display: block;
    width: 90%;
    color: white;
    padding: 8px;
    margin: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #ccc; 
}
.pseudo_label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease; 
}
.input_light{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(252, 79, 79);
    transition: all 0.3s ease;
}
.pseudo:focus + .pseudo_label{
    top: -10px;
    font-size: 14px;
    color:rgb(252, 79, 79) ;
}
.pseudo:focus + .pseudo_label + .input_light{
    width: 95%;
}




.input_email{
    position: relative;
    margin-top: 2px;
    margin-left: 50px;
}
.email{
    display: block;
    width: 90%;
    color: white;
    padding: 8px;
    margin: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #ccc;
}
.email_label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}
.input_eight{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(252, 79, 79);
    transition: all 0.3s ease;
}
.email:focus + .email_label{
    top: -10px;
    font-size: 14px;
    color:rgb(252, 79, 79) ;
}
.email:focus + .email_label + .input_eight{
    width: 95%;
}




.input_pwd{
    position: relative;
    margin-top: 2px;
    margin-left: 50px;
}
.pwd{
    display: block;
    width: 90%;
    color: white;
    padding: 8px;
    margin: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #ccc;
}
.pwd_label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}
.input_pight{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(252, 79, 79);
    transition: all 0.3s ease;
}
.pwd:focus + .pwd_label{
    top: -10px;
    font-size: 14px;
    color:rgb(252, 79, 79) ;
}
.pwd:focus + .pwd_label + .input_pight{
    width: 95%;
}






.input_confirm{
    position: relative;
    margin-top: 2px;
    margin-left: 50px;
}
.confirm{
    display: block;
    width: 90%;
    color: white;
    padding: 8px;
    margin: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #ccc;
}
.confirm_label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}
.input_cight{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(252, 79, 79);
    transition: all 0.3s ease;
}
.confirm:focus + .confirm_label{
    top: -10px;
    font-size: 14px;
    color:rgb(252, 79, 79) ;
}
.confirm:focus + .confirm_label + .input_cight{
    width: 95%;
}



.btn{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 20px;
}
button {
    padding: 0.8em 1.8em;
    border: 2px solid rgb(252, 79, 79);
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: rgb(252, 79, 79);
}
   
button::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgb(252, 79, 79);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
   
button:hover::before {
    width: 105%;
}
   
button:hover {
    color: white;
}


a{
    color: rgb(252, 79, 79);
}